<div style="text-align:center; background-color:wheat">
  <header><br>
    <h1>
      Welcome to Car Tracker!
    </h1><br>
  </header>
</div>
<div style="text-align:center">
  <table class="table table-striped">
    <thead style="background-color:grey">
    <tr>
      <th>Alert Type</th>
      <th>Priority</th>
      <th>Time</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let alt of salts">
      <td>{{alt.alertType}}</td>
      <td>{{alt.priorityValue}}</td>
      <td> {{alt.reading.timestamp | date:'medium'}}</td>
    </tr>
    </tbody>
  </table>
  <hr>
  <br>
</div>
  <div id="head" >
    <p>Location of this vehicle for 30 minutes.</p>
  </div>

  <agm-map [zoom]="2">
    <div *ngFor="let dam of malts">
      <agm-marker [latitude]="dam.reading.latitude" [longitude]="dam.reading.longitude"></agm-marker>
    </div>
  </agm-map>
<br>
<div>
<h5> Select the time </h5>
</div>
<div>
<select  class="form-control" [(ngModel)]="swit" >
  <option *ngFor="let char of chartss" [value]="char">{{char}} </option>
</select>
  <button type="submit" class="btn btn-primary" (click)="addTime(swit)">Submit</button>
</div>
<div [chart]="engineRPM"></div>
<div [chart]="fue"></div>
<div [chart]="spe"></div>


<div style="text-align:center">
  <p style="align-content: center">Contact: palaniappansaravana@gmail.com</p>
</div>
